<%= simple_form_for(@conteudo, html: {class: "form-horizontal"}) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :titulo %>
    <%= f.input :data_publicacao %>
    <%= f.input :ativo %>
    <%= f.input :tipo, collection: helper_conteudo_tipo_colletion %>
    <%= f.input :resumo %>
    <%= f.input :descricao %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
