<p id="notice"><%= notice %></p>

<p>
  <b>Titulo:</b>
  <%= @conteudo.titulo %>
</p>

<p>
  <b>Resumo:</b>
  <%= @conteudo.resumo %>
</p>

<p>
  <b>Descricao:</b>
  <%= @conteudo.descricao %>
</p>

<p>
  <b>Data publicacao:</b>
  <%= @conteudo.data_publicacao %>
</p>

<p>
  <b>Ativo:</b>
  <%= @conteudo.ativo %>
</p>

<p>
  <b>Tipo:</b>
  <%= @conteudo.tipo %>
</p>

<p>
  <b>Foto:</b>
  <%= image_tag(@conteudo.foto.url(:thumb)) %>
</p>


<%= link_to 'Edit', edit_conteudo_path(@conteudo) %> |
<%= link_to 'Back', conteudos_path %>
