<h2>Evento: <%= @evento.nome %></h2>
<h4>Data: <%= @evento.data_evento %></h4>
<hr/>

<%= helper_galeria_fotos_por_evento(Galeria.where_evento_id(@evento.id)) %>

<%= link_to 'Edit', edit_evento_path(@evento), class: helper_app_btn_edit %> |
<%= link_to 'Back', eventos_path, class: helper_app_btn_back %>
