<h2>Evento: <%= @evento.nome %></h2>
<h4>Data: <%= @evento.data_evento %></h4>
<hr/>

<%= helper_galeria_fotos_por_evento(Galeria.where_evento_id(@evento.id)) %>

<%= link_to helper_app_btn_title_edit, edit_evento_path(@evento), class: helper_app_btn_icon_edit %> |
<%= link_to helper_app_btn_title_back, eventos_path, class: helper_app_btn_icon_back %>
