<h1>Listing premios</h1>

<%= link_to 'New Premio', new_premio_path, class: helper_app_btn_new %>
<br/>
<table class="table table-condensed">
  <thead>
      <tr>
        <th>Titulo</th>
        <th>Resumo</th>
        <th>Ativo</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
  </thead>
  <tbody>
      <% @premios.each do |premio| %>
          <tr>
            <td><%= premio.titulo %></td>
            <td><%= premio.resumo %></td>
            <td><%= premio.ativo %></td>
            <td><%= link_to 'Show', premio, class: helper_app_btn_show %></td>
            <td><%= link_to 'Edit', edit_premio_path(premio), class: helper_app_btn_edit %></td>
            <td><%= link_to 'Destroy', premio, method: :delete, data: {confirm: 'Are you sure?'},
                            class: helper_app_btn_destroy %></td>
          </tr>
      <% end %>
  </tbody>


</table>