<h1>Listing regulamentos</h1>

<%= link_to 'New Regulamento', new_regulamento_path, class: helper_app_btn_new %>
<br />
<table class="table table-hover table-condensed">
  <thead>
      <tr>
        <th>Secao</th>
        <th>Descricao</th>
        <th>Regulamento Pai</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
  </thead>

  <tbody>
      <% @regulamentos.each do |regulamento| %>
          <tr>
            <td><%= helper_regulamento_secao_formato(regulamento) %></td>
            <td><%= regulamento.descricao %></td>
            <td><%= helper_regulamento_secao_pai(regulamento.regulamento) %></td>
            <td><%= link_to 'Show', regulamento, class: helper_app_btn_show %></td>
            <td><%= link_to 'Edit', edit_regulamento_path(regulamento), class: helper_app_btn_edit %></td>
            <td><%= link_to 'Destroy', regulamento, method: :delete, data: { confirm: 'Are you sure?' },
                            class: helper_app_btn_destroy %></td>
          </tr>
      <% end %>
  </tbody>



</table>
