<p id="notice"><%= notice %></p>

<p>
  <b>Regulamento:</b>
  <%= @regulamento.regulamento_id %>
</p>

<p>
  <b>Descricao:</b>
  <%= @regulamento.descricao %>
</p>

<p>
  <b>Secao:</b>
  <%= @regulamento.secao %>
</p>


<%= link_to 'Edit', edit_regulamento_path(@regulamento), class: helper_app_btn_edit %> |
<%= link_to 'Back', regulamentos_path, class: helper_app_btn_back %>
